
h1 {
    color: #424242;
    text-align: center;
}

h2 {
    border-bottom: 2px solid black;
    padding: 30px 10px;

}

#t1 {
    padding: 30px 10px;
}

 { 
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#example {
    margin-bottom: 50px;
}
#work1{
    padding: 20px;
    height: 30%;
    text-align: center;
} 
